.weatherCard{
    display: inline-block;
    width: 350px;
    height: 510px;
    background-image: url('../img/3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    color: white;
}

.wc-wd{
    text-align: center;
    height: 82%;
    transition: height 1s;
}

.move-wd{
    height: 74% !important;
}

.wc-wd span{
    position: relative;
    top: 20px;
}

.weather-mc{
    margin: 0 10%;
}

.wc-body{
    width: 90%;
    margin: auto;
}

.wi-nav{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
}

.nav-item-cn{
    display: flex;
    justify-content: space-evenly;
}

.nav-item-c{
    text-align: end;
    position: relative;
    bottom: 8px;
}

.whitespace{
    /* height: 45px;
    position: absolute;
    width: 350px;
    background-color: white;
    z-index: 1;
    bottom: 74px; */
}